




{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="COLIMO">
    <meta name="keywords" content="city, recommedations, personality">

    <title>COLIMO</title>
    <!-- Latest compiled and minified CSS -->
    <!--<link rel="stylesheet" href="{% static 'css/css/bootstrap.min.css' %}">-->
    <!--<link rel="stylesheet" href="{% static 'chat.css' %}">-->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="{% static 'colimo-website/images/favicon.png' %}" />
    <link type="text/css" rel="stylesheet" href="{% static 'colimo-website/css/style.css' %}">

    <!-- jQuery library -->
    <script type="text/javascript" src="{% static 'js/js/jquery-3.2.1.min.js' %}"></script>

    <!-- Latest compiled JavaScript -->
    <script src="{% static 'js/js/bootstrap.min.js' %}"></script>
</head>

<body id="chatbot">

    <div class="header">
        <section><a href="{% static 'colimo-website/home.html' %}"><img src="{% static 'colimo-website/images/icon-back-10.png' %}" alt="Return" ></a></section>
        <section class="header-city">AIX EN PROVENCE</section>
        <section class="header-bot"><img src="{% static 'colimo-website/images/icon-bot-white-10.png' %}" alt="Chat" ></section>
        <div class="clear-both"></div>
    </div>
    <div class="main-container">


        <div id="chat-body" class="panel panel-default">
            <div id="msg-list-div" class="panel-body">
                <ul id="msg-list" class="list-group">
                    <li class="text-left response list-group-item">Hi Friend I am Colimo! How may I help you today?</li>
                    <script>
                        var chatlist = document.getElementById('msg-list-div');
                        chatlist.scrollTop = chatlist.scrollHeight;
                    </script>
                </ul>
            </div>
            <form id="chat-form" method="post" action="/post/">
            <div id="chat-bottom" class="input-group">
                <input type="text" id="chat-msg" name="chat-msg" class="form-control" placeholder="Type..." />
                <span class="input-group-btn">
                    <input class="btn btn-danger pinkBtn" id="send" type="submit" value="SEND"/>
                </span>
            </div>
            </form>
        </div>

    </div>


</body>

<script src="{% static 'chat.js' %}"></script>
</html>
