

@charset "UTF-8";

/* ------------------------------------------------ 1. HTML RESETS */
html, 
body {
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
}
html {
	height: 100%;
}
body {
    -webkit-font-smoothing: antialiased;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    cursor: default;
    min-height: 100%;
}
    #index,
    #home {
      background: url(../images/index-bg.jpg) no-repeat center center fixed;
      background-size: cover;
      height: 100%;
    }
    #signup,
    #login {
      background: url(../images/pink-bg.png) no-repeat center center fixed;
      background-size: cover;
      height: 100%;
    }    
    #chatbot {
      background: url(../images/chat-bg-10.jpg) no-repeat center center fixed;
      background-size: cover;
      height: 100%;
    }
    #profile {
      background: url(../images/profile-bg-10.jpg) no-repeat center center fixed;
      background-size: cover;
      height: 100%;
    }


sup {
    display: none; 
}
section, div,
object, button, table,
del, dfn, ins, kbd, var,
form, fieldset, figure, figcaption, caption,
label, legend, output,
samp, small, strike, sub,
article, aside, details, summary, 
footer, header, menu, nav {
    margin: 0;
    padding: 0;
    display: block;
}
canvas { 
   vertical-align: top;
   padding: 10px 0;
}
select {
    border: none;
    outline: 0;
    cursor: pointer;
}
fieldset {
    border: none;
    outline: 0;
}
figure {
    transition: 0.4s all ease-in-out;
    -ms-transition: 0.4s all ease-in-out;
    -webkit-transition: 0.4s all ease-in-out;
    -moz-transition: 0.4s all ease-in-out;
    -o-transition: 0.4s all ease-in-out;
}
span {
    display: inline;
    padding: 0;
    margin: 0;
}
img {
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    outline: 0;
} 
iframe, 
audio, 
video,
h1, h2, h3, h4, h5, h6,
blockquote, pre, a,
address, code, 
strong, em, p {
    margin: 0;
    padding: 0;
    display: block;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
ul, li { 
    list-style: none;
    list-style-type: none; 
    margin: 0;
    padding: 0;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
    outline: 0;
    border: none; 
}
input {
    border: 0;
    outline: 0;
}
textarea {
    overflow: auto;
    vertical-align: top; 
    border: 0;
    resize: none;
    outline: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0; 
}
br {
    display: block;
    margin: 7px 0;
    line-height: 22px;
    content: " ";
}
a, 
button,
.btn {
    transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    text-decoration: none;
    cursor: pointer;
    border: none; 
    outline: 0;
}
a {
    text-decoration: none;
    text-transform: none;
    color: #fff;
}
    a:hover {
        text-decoration: none;
    }
.pace-done #page {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
    filter: alpha(opacity=1);
    opacity: 1;
}

.clear-both {
    clear: both;
}

/* ------------------ 3.1. CONTAINERS */

.header {
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
    padding: 50px 0 20px 0;
}
    #index .header{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 0;
      }
    #signup .header,
    #login .header {
        padding-top: 100px;
    }
.main-container {
    max-width: 900px;
    margin: 0 auto;
    padding-bottom: 100px;
}
    #profile .main-container {
        text-align: center;
    }




/* ------------------ 3.2. FONTS */

@font-face {
    font-family: 'Roboto Black';
    src: url('../fonts/Roboto-Black.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto BlackItalic';
    src: url('../fonts/Roboto-BlackItalic.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto Bold';
    src: url('../fonts/Roboto-Bold.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto BoldItalic';
    src: url('../fonts/Roboto-BoldItalic.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto Light';
    src: url('../fonts/Roboto-Light.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto LightItalic';
    src: url('../fonts/Roboto-LightItalic.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto Medium';
    src: url('../fonts/Roboto-Medium.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto MediumItalic';
    src: url('../fonts/Roboto-MediumItalic.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto Regular';
    src: url('../fonts/Roboto-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto RegularItalic';
    src: url('../fonts/Roboto-RegularItalic.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto Thin';
    src: url('../fonts/Roboto-Thin.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto ThinItalic';
    src: url('../fonts/Roboto-ThinItalic.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
font-family: 'Gotham Book';
font-style: normal;
font-weight: normal;
src: local('Gotham Book'), url('../fonts/Gotham/GothamBook.woff') format('woff');
}


@font-face {
font-family: 'Gotham Book Italic';
font-style: normal;
font-weight: normal;
src: local('Gotham Book Italic'), url('../fonts/Gotham/GothamBookItalic.woff') format('woff');
}


@font-face {
font-family: 'Gotham Light';
font-style: normal;
font-weight: normal;
src: local('Gotham Light'), url('../fonts/Gotham/GothamLight.woff') format('woff');
}


@font-face {
font-family: 'Gotham Light Italic';
font-style: normal;
font-weight: normal;
src: local('Gotham Light Italic'), url('../fonts/Gotham/GothamLightItalic.woff') format('woff');
}


@font-face {
font-family: 'Gotham Medium';
font-style: normal;
font-weight: normal;
src: local('Gotham Medium'), url('../fonts/Gotham/GothamMedium.woff') format('woff');
}


@font-face {
font-family: 'Gotham Medium';
font-style: normal;
font-weight: normal;
src: local('Gotham Medium'), url('../fonts/Gotham/GothamMedium_1.woff') format('woff');
}


@font-face {
font-family: 'Gotham Medium';
font-style: normal;
font-weight: normal;
src: local('Gotham Medium'), url('../fonts/Gotham/GothamMediumItalic.woff') format('woff');
}


@font-face {
font-family: 'Gotham Bold';
font-style: normal;
font-weight: normal;
src: local('Gotham Bold'), url('../fonts/Gotham/GothamBold.woff') format('woff');
}


@font-face {
font-family: 'Gotham Bold';
font-style: normal;
font-weight: normal;
src: local('Gotham Bold'), url('../fonts/Gotham/Gotham-Bold.woff') format('woff');
}


@font-face {
font-family: 'Gotham Bold Italic';
font-style: normal;
font-weight: normal;
src: local('Gotham Bold Italic'), url('../fonts/Gotham/GothamBoldItalic.woff') format('woff');
}


@font-face {
font-family: 'Gotham Black Regular';
font-style: normal;
font-weight: normal;
src: local('Gotham Black Regular'), url('../fonts/Gotham/Gotham-Black.woff') format('woff');
}


@font-face {
font-family: 'Gotham Light Regular';
font-style: normal;
font-weight: normal;
src: local('Gotham Light Regular'), url('../fonts/Gotham/Gotham-Light.woff') format('woff');
}


@font-face {
font-family: 'Gotham Thin Regular';
font-style: normal;
font-weight: normal;
src: local('Gotham Thin Regular'), url('../fonts/Gotham/Gotham-Thin.woff') format('woff');
}


@font-face {
font-family: 'Gotham XLight Regular';
font-style: normal;
font-weight: normal;
src: local('Gotham XLight Regular'), url('../fonts/Gotham/Gotham-XLight.woff') format('woff');
}


@font-face {
font-family: 'Gotham Book Italic';
font-style: normal;
font-weight: normal;
src: local('Gotham Book Italic'), url('../fonts/Gotham/Gotham-BookItalic.woff') format('woff');
}


@font-face {
font-family: 'Gotham Thin Italic';
font-style: normal;
font-weight: normal;
src: local('Gotham Thin Italic'), url('../fonts/Gotham/Gotham-ThinItalic.woff') format('woff');
}


@font-face {
font-family: 'Gotham Ultra Italic';
font-style: normal;
font-weight: normal;
src: local('Gotham Ultra Italic'), url('../fonts/Gotham/Gotham-UltraItalic.woff') format('woff');
}


@font-face {
font-family: 'Gotham XLight Italic';
font-style: normal;
font-weight: normal;
src: local('Gotham XLight Italic'), url('../fonts/Gotham/Gotham-XLightItalic.woff') format('woff');
}






/* ------------------ 3.7. COLORS */
.black {
    color: #000; 
}
.dark {
    color: #787c7f; 
}
.pink {
    color: #f4646e; 
}
.white {
    color: #fff;
}
.bg-white{
    background-color: #fff;
}
/* ------------------ 3.8. TEXT */

#signup p,
#login p {
    font: 400 16px/25px 'Roboto', sans-serif;
    text-decoration: none;
    text-transform: none;
    color: #fff;
    text-align: center;
    padding: 30px 0 50px;
}
#signup h1,
#login h1 {
    font: 400 27px/32px 'Roboto Regular', sans-serif;
    text-decoration: none;
    color: #fff;
    text-align: center;
    padding-bottom: 40px;
}
#index h1 {
    font: 400 29px/35px 'Gotham Book Italic', sans-serif;
    color: #c798c3;
}
h2 {
    font: 700 22px/40px 'Roboto', sans-serif;
    text-decoration: none;
    text-transform: none;
    color: #fff;
}
h3,
a span, 
a span {
    font: 400 19px/25px 'Roboto', sans-serif;
    text-decoration: none;
    text-transform: none;
    color: #fff;
}

p a {
    display: inline;
}
    p a span {
        font: 400 16px/25px 'Roboto', sans-serif;
    }
#signup a,
#login a {
    font: 700 16px/25px 'Roboto Bold', sans-serif;

}    

/* ------------------ 3.8. Other elements */



.text-center {
	display: inline-block;
	text-align: center;
	width: 100%;
}
#signup .logo,
#login .logo {
    width: 400px;
}
label {
    font: 400 30px/40px 'Gotham Bold', sans-serif;
    color: #fff;
}
input {
    background: none;
    border-bottom: 1px solid #fff;
    padding: 5px;
    width: 100%;
    font: 400 27px/32px 'Roboto Regular', sans-serif;
    color: #fff;
    margin: 0 0 40px 0;
}
.clearfix {
    text-align: center;
    padding: 50px 0px;
}
#signup button,
#login button {
    color: #ea646e;
    font: 400 37px/45px 'Roboto Regular', sans-serif;
    letter-spacing: 5px;
    display: inline-block;
    width: 208px;
    padding: 15px 0;
    background: #fff;
    border-radius: 20px;
}
.pinkBtn {
    color: #fff;
    font: 700 55px/66px 'Roboto Bold', sans-serif;
    display: inline-block;
    width: 308px;
    padding: 15px 0;
    background: #ea646e;
    border-radius: 20px;
}
#home .header section {
    float: left;
    width: 20%;
}
    #home section.header-logo{
        width: 60%;
}
    #home .header section img {
        max-height: 130px;
    }

    #home .jSlider img {
        width: 860px;
        box-sizing: border-box;
        position: relative;
        border-radius: 140px;
        margin: 20px;
    }
    #home .jSlider .slider-content {
       /* background: url(../images/recommedation-outline-10.png) no-repeat center center; */
       height: 1800px;
       background: none;
    }
    .place-details {
        position: absolute;
        bottom: 42%;
        width: 100%;
        text-align: center;
    }
    .place-details .addToFavorite {
        background: url(../images/icon-addFavorite-10.png) no-repeat center center;
        width: 208px;
        height: 191px;
        margin: 0 auto;
    }
    .place-details .city {
        font: 400 44px/49px 'Gotham Bold', sans-serif;
        color: #fff;
        display: block;
    }
    .place-details .place {
        font: 400 96px/110px 'Gotham Bold', sans-serif;
        color: #fff;
        display: block;
        text-transform: uppercase;
    }
    .place-details .address {
        color: #fff;
        display: block;

    }
        .place-details .address .address-content {
            background: url(../images/icon-location-10.png) no-repeat center left;
            padding-left: 100px;
            font: 700 30px/50px 'Gotham Bold', sans-serif;
            padding: 20px 25px 20px 125px;
        }

        .description {
            font: 400 29px/35px 'Gotham Book Italic', sans-serif;
            text-align: center;
            display: block;
            margin: 70px 0 40px;
            height: 140px;
            overflow: hidden;
        }
        .distance {
             font: 400 25px/53px 'Gotham Book Italic', sans-serif;
             display: block;
        }
#chatbot .header section {
    float: left;
    width: 20%;
    font: 700 55px/125px 'Roboto Bold', sans-serif;
    color: #fff;
}
    #chatbot section.header-city{
        width: 60%;
        text-align: right;
    }
     #chatbot .header section img {
        max-height: 130px;
    }
#chatbot .input-group {
    padding: 15px;
    background: #fff;
    border-radius: 20px;

    }
    #chatbot input.form-control {
        border: none;
        background: none;
        border-radius: 20px;
        color: #787c7f;
        font: 400 34px/50px 'Gotham Book Italic', sans-serif;
        margin: 0;
        padding: 0;
        display: inline-block;
        width: 725px;

    }
    #chatbot .pinkBtn {
        display: inline-block;
        width: 135px;
        margin: 0;
        font: 700 40px/50px 'Roboto Bold', sans-serif;
    }
li.response {
    font: 400 34px/40px 'Gotham Book Italic', sans-serif;
    color: #fff;
    padding: 43px 0px 55px 130px;
    background: url(../images/icon-bot-white-10.png) no-repeat center left;
    background-size: 140px;
    background-position-y: 0;
    margin: 20px 0;
}
li.query {
    font: 400 34px/40px 'Gotham Book Italic', sans-serif;
    color: #fff;
    padding: 27px 130px 55px 0px;
    background: url(../images/icon-profile-white-10.png) no-repeat center right;
    background-size: 140px;
    background-position-y: 0;
    margin: 20px 0;
    text-align: right;
}
    li.query span {
        color: #787c7f;
        padding: 15px;
        border-radius: 20px;
        background: #fff;
        display: block;
    }

#profile .header section {
    float: left;
    width: 20%;
    font: 700 55px/125px 'Roboto Bold', sans-serif;
    color: #fff;
}
    #profile section.header-user{
        width: 60%;
        text-align: left;
    }
     #profile .header section img {
        max-height: 130px;
    }   
.user-settings {
    position: relative;
    width: 100%;
} 
    .user-settings img {
        position: absolute;
        right: 27%;
        top: -140px;
    }
.user h1 {
    font: 400 44px/53px 'Gotham Bold', sans-serif;

}    
.user h2 span {
    font: 700 52px/63px 'Gotham Bold', sans-serif;
    background: url(../images/icon-location-simple-10.png) no-repeat center left;
    padding: 5px 75px 5px 127px;

}







	/* ------------------------------------------------ 1. Laptops */

@media only screen and (max-width: 1300px) {
    


}


	/* ------------------------------------------------ 2. Tablets */

@media only screen and (max-width: 992px) {
    
    #index .logo,
    #signup .logo,
    #login .logo {
        width: 100%;
    }
    #index h1 {
        font-size: 20px;
    }
    .main-container {
        max-width: 760px;
        margin: 0 auto;
    }
    #home .header section img,
    #chatbot .header section img,
    #profile .header section img {
        max-height: 100px;
    }
    li.response {
        background-size: 100px;
        padding: 18px 0px 40px 100px;
    }
    li.query {
        background-size: 100px;
        padding: 18px 100px 40px 0px;
    }
    li.query span {
        padding: 7px 15px;
    }
    #chatbot .header section,
    #profile .header section {
        font: 700 50px/105px 'Roboto Bold', sans-serif;
    }
    #home .jSlider img {
        width: 720px;
    }
    .place-details {
        bottom: 50%;
    }
    #chatbot input.form-control {
        width: 580px;
    }



}


	/* ------------------------------------------------ 3. Mobiles 1 */

@media only screen and (max-width: 768px) {

    #index h1 {
        font-size: 11px;
    }
    .main-container {
        max-width: 90%;
        margin: 0 auto;
    }
    #home .header section img,
    #chatbot .header section img,
    #profile .header section img {
        max-height: 55px;
    }
    #chatbot .header section,
    #profile .header section {
        font: 700 25px/55px 'Roboto Bold', sans-serif;
    }
    li.response {
        background-size: 55px;
        padding: 9px 0 9px 70px;
        font: 400 27px/31px 'Gotham Book Italic', sans-serif;
    }
    li.query {
        background-size: 55px;
        padding: 9px 70px 9px 0px;
        font: 400 27px/31px 'Gotham Book Italic', sans-serif;
    }    
    li.query span{
        padding: 5px 15px;
    }
    #chatbot input.form-control {
        width: 580px;
        font: 400 27px/31px 'Gotham Book Italic', sans-serif;
        width: 74%;
    }

    #chatbot .input-group {
        padding: 7px 3%;
    }
    #chatbot .pinkBtn {
            font: 700 30px/34px 'Roboto Bold', sans-serif;
            width: 24%;

    }
    .user {
        position: relative;
    }
    .user > img {
        width: 70%;
    }
    .user-settings {
        position: relative;
        top: auto;
    }
        .user-settings img {
            position: relative;
            right: auto;
            top: auto;
            width: 100px;
        }
    .user h1 {
        font: 400 25px/53px 'Gotham Bold', sans-serif;
    }
    .user h2 span {
        font: 700 30px/52px 'Gotham Bold', sans-serif;
        padding: 5px 50px 5px 85px;
        background-size: 100px;
    }



}

	/* ------------------------------------------------ 3. Mobiles 2 */

@media only screen and (max-width: 450px) {
    #chatbot .header section,
    #profile .header section {
        font: 700 19px/55px 'Roboto Bold', sans-serif;
    }
    #chatbot .pinkBtn {
        font: 700 21px/34px 'Roboto Bold', sans-serif;
        width: 24%;
        padding: 6px 0;
    }
    #chatbot input.form-control {
        width: 70%;
    }
    .user-settings img {
        width: 80px;
    }
    .user h2 span {
        padding: 5px 0;
        background: none;
    }

}